

<table class="bordered-table sort zebra-striped">
  <thead>
    <tr>
      <th>Avtor</th>
      <th>Žanri</th>
			<th>Povprečje</th>
    </tr>
  </thead>
  <tbody>
		<% @authors.each do |author| %>
			<tr>
        <td><%= author.name  %></td>
        <td><%= author.genres.count %></td>
				<td><%= @avrage %></td>
      </tr>
		<% end %>
  </tbody>
</table>