<div class="genre">
	<h1>
		Prodaja po žanru 1
		<button class="btn primary show_chart">Graf</button>
	</h1>
	<div id="prodaja_zanri" class="top_chart"></div>
	<table class="bordered-table sort zebra-striped">
	  <thead>
	    <tr>
	      <th>Knjiga</th>
	      <th>Prodaja</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @genres.each do |genre| %>
				<tr>
	        <td><%= genre.genre  %></td>
	        <td><%= genre.sales %></td>
	      </tr>
			<% end %>
	  </tbody>
	</table>
</div>
